body {
    background-color: #211c1a;
    margin: 0;
    padding: 0;
}

/* Albumite üldine vormistus */
.albumi-nimi {
    text-align: center;
    font-family: "Righteous", sans-serif;
    color: aliceblue;
    margin-top: 50px;
    display: block !important;
}

.albumi-nimi h1 {
    font-size: 42px;
    margin-bottom: 40px;
}

.albumi-grid {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 90%;
    margin: 0 auto 80px auto;
}

.album {
    text-align: center;
    color: aliceblue;
    font-family: "Saira Condensed", sans-serif;
}

.album h2 {
    font-size: 28px;
    margin-bottom: 12px;
    margin-top: 0;
}

.album img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 2px 10px #191411;
    transition: 0.42s;
}

.album img:hover {
    transform: scale(1.05);
}

.album {
    cursor: pointer;
}

@media (max-width: 900px) {
    .albumi-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

/* Mobile / small screens */
@media (max-width: 500px) {
    .albumi-grid {
        grid-template-columns: 1fr; /* 1 column */
        gap: 20px;
    }
}