/*Liikmete üldised vormistused */
.all-liikme-container {
    height: 40vw;
    width: 100%;
    position: relative;
}
.all-liikmed h2 {
    font-family: "Righteous", sans-serif;
    color: aliceblue;
    font-size: 36px;
    margin-top: 20px;
}

.all-paremjoon {
    height: 2px;
    width: 1020px;
    background-color: aliceblue;
    position: absolute;
    right: 0;
    top: 4%;
    margin-right: 0;
    border-right: 0;
    display: flex;
    transform: translateY(-50%);
    border-radius: 5px;

}

.all-vasakjoon {
    height: 2px;
    width: 1020px;
    background-color: aliceblue;
    position: absolute;
    left: 0;
    top: 4%;
    margin-left: 0;
    border-left: 0;
    display: flex;
    transform: translateY(-50%);
    border-radius: 5px;
}

.all-liikmed p {
    display: flex ;
    gap : 10px ;
    color: aliceblue;
    font-size: 19px;
    font-family:"Saira Condensed", sans-serif ;
    font-weight: 390;
    padding-top: 50px;
}
.all-liikmed img {
    width: 54.5vw ;
    height: 30vw ;
    object-fit: cover ;
    position: relative;
    display: flex;
}

/*parem vormistus */
.all-parem h2 {
    text-align: right;
    margin-right: 52px ;
}
.all-parem p {
    margin-left: 40px;
    text-align: right;
    text-align-last: right;
}

.all-parem img {
    float: right;
    margin-left: 40px;
    border-radius: 10px 0 0 10px;
    display: block;
}

/*vasak vormistus */

.all-vasak h2 {
    text-align: left;
    margin-left: 52px ;
}
.all-vasak p {
    text-align: left;
    text-align-last: left;
    margin-right: 40px;
}
.all-vasak img{
    float: left;
    margin-right: 40px;
    border-radius: 0px 10px 10px 0px;
    display: block;
}

.hayley img {
    object-position: 90% 20%;
}

