/*Siit algab pealehe esipildi vormistus */
/*seda oleks lihtsam ise croppida, peaks seda tegema */
* {
    box-sizing: border-box;
}


.banner { 
    width: 100% ;
    height: 40vw ;
    background-image: url(https://www.nme.com/wp-content/uploads/2023/02/NME-PARAMORE-HERO-2023@2560x1625.jpg);
    background-size: cover;
    background-position: 0% 25%;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
    
}


.banner-tiitel {
    position: absolute ;
    left: 50% ;
    transform: translateX(-50%) ;
    bottom : -20px ;
    text-align: center;
    padding: 0 20px;
}

.banner-tiitel h1 {
    color: #a62400;
    font-family: "Righteous", sans-serif;
    font-size: 6.5vw;
    font-weight: bold;
    /* text-shadow: 0px 0px 10px #1d1409; */
    -webkit-text-stroke: 0.00000001vw #c54d02; 
}

.all-hayley{
    position: relative;
    width: 100%;
}

.all-hayley h2 {
    font-family: "Righteous", sans-serif;
    color: aliceblue;
    display: flex;
    font-size: 36px;
    margin-top: 20px;
    margin-left: 4vw;
}

.all-hayleyjoon {
    height: 2px;
    width: 70vw;
    background-color: aliceblue;
    position: absolute;
    right: 0;
    top: 4%;
    margin-right: 0;
    border-right: 0;
    display: flex;
    transform: translateY(-50%);

}
.all-hayley p {
    display: flex ;
    align-items:left ;
    gap : 10px ;
    color: aliceblue;
}
.all-hayley img {
    width: 60vw ;
    height: 30vw ;
    object-fit: cover ;
    object-position: 20% 0%;
    display : flex ;
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
