main, section, article, p, h2, h3, h4, h5, h6, a, li {
    font-family: 'Saira Condensed', sans-serif;
    color: aliceblue; 
    line-height: 1.5;
}

/*Siit al

/* TIMELINE CONTAINER */
.timeline {
    max-width: 1180px;
    margin: 0 auto;
    padding: 40px 0; 
    position: relative;
}

/* Vertikaalne joon */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #ec9058;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

/* EVENT BLOCKS */
.event {
    position: relative;
    padding: 32px 0; 
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 32px; 
    z-index: 20;
}

/* General block style */
.event-text,
.event-image {
    width: 42%;
    padding: 16px; 
    border-radius: 10px; 
    background-color: #292423;
    box-shadow: 0 3px 8px rgba(23, 14, 6, 0.3);
    color: #d1d5db;
}

.event-text p {
    font-size: 19px;
    font-weight: 390;
    text-align: justify;
    margin: 10px;
}

/* Pilt */
.event-image img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    object-fit: cover;
}

/* Pealkirjad */
.event h2 { 
    font-family: 'Righteous', sans-serif;
    color: aliceblue;
    font-size: 24px; 
    font-weight: 700;
    margin-bottom: 16px; 
    text-align: center;
    margin-top: 6px;
}

/* Punkt joonel */
.event::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #d15000;
    border-radius: 50%;
    border: 3px solid #120e0c;
    z-index: 30;
    left: 50%;
    top: 32px; 
    transform: translate(-50%, -50%);
}

/* PLOKKIDE VAHELDUMINE */
/* Paaritu: tekst vasakul, pilt paremal */
.timeline article:nth-of-type(odd) .event-text {
    margin-right: auto;
    margin-left: 0;
}

.timeline article:nth-of-type(odd) .event-image {
    margin-left: auto;
}

/* Paaris: tekst paremal, pilt vasakul */
.timeline article:nth-of-type(even) .event-text {
    margin-left: auto;
}

.timeline article:nth-of-type(even) .event-image {
    margin-right: auto;
}

/* Viimane plokk: keskel */
.event:last-child {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.event:last-child .event-text {
    width: 80%;
    text-align: center;
    background-color: #302a27;
    margin-left: auto !important;
    margin-right: auto !important;
}

.event:last-child::before {
    top: 16px; 
    left: 50%;
}
