html, body {
    background-color: #201d19;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: "Saira Condensed", sans-serif;
    color: aliceblue;
}

* {
    box-sizing: border-box;
}


.riba {
    width: 100%;
    height: 60px;
    background-color: #1a1514;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.riba a {
    text-decoration: none;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 550;
    letter-spacing: 1.6px;
    font-size: 26px;
    background: linear-gradient(to right, #ffe016, #FAA307, #F48C06, #E85D04 , #DC2F02, #D00000);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: nupud 2.5s linear infinite;
    transition: 0.5s;
}

.riba a:hover {
    transform: scale(1.2);
    letter-spacing: 1.8px;
    color: rgba(255,255,255,0.8);
}

@keyframes nupud {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.riba-pealeht {text-align: left; margin-left: 60px;}
.riba-ajalugu {text-align: center;}
.riba-albumid {text-align: right; margin-right: 60px;}

.album-page {
    display: flex;
    flex-direction: column;
    align-items: center;         
    padding: 50px 20px;
    text-align: center;
    color: aliceblue;
    font-family: "Saira Condensed", sans-serif;
}

.album-page img {
    width: 450px;           
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 15px #00000080;
    margin-bottom: 25px;
    transition: transform 0.3s;
    cursor: pointer;
}

.album-page img:hover {
    transform: scale(1.05);
}

.album-page h2 {
    font-family: "Righteous", sans-serif;
    font-size: 36px;
    margin: 10px 0;
    color: aliceblue;
}

.release-date {
    font-family: "Saira Condensed", sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    color: #f0f0f0;
}

.album-story {
    width: 80%;
    max-width: 900px;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: aliceblue;
    margin-bottom: 50px;
}

.spotify-button {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;
    margin-top: -20px;
}

.spotify-button:hover {
    transform: scale(1.15);
}

.spotify-logo {
    width: 65%; 
    height: auto;
}

